<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <h2>
      お申し込みありがとうございました。
      <br/>
      劇場でお会いできますことを楽しみにしております。
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <%= link_to '申し込みページへ', register_user_path(params[:id]), class: 'btn btn-link' %>
  </div>
</div>
