 /* A4横 */
@page {
  /* size: A4 landscape; */
  size: A4;
  margin: 27mm 16mm 27mm 16mm;
}
body {
  -webkit-print-color-adjust: exact;
}
.table th {
  background-color: #e9ecef !important;
}

.table td {
  background-color: inherit !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.01) !important;
}

.table tr td, .table tr th {
  page-break-inside: avoid;
}

.ticket-card-table {
  width: 33%;
  border: solid 1px;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 5px;
}
.ticket-card-table__title {
  font-size: 0.7em;
}
.ticket-card-table__tiny-text {
  font-size: 0.5em;
}
.ticket-card-table tr {
  height: 1rem;
}
tr.b-bottom--thin td {
  border-bottom: solid 1px #ccc;
}
td.b-bottom--thin {
  border-bottom: solid 1px #ccc;
}

tr.b-bottom td {
  border-bottom: solid 1px;
}
td.b-bottom {
  border-bottom: solid 1px;
}
tr.b-left td {
  border-left: solid 1px;
}
td.b-left {
  border-left: solid 1px;
}
tr.b-right td {
  border-right: solid 1px;
}
